extends ../layout
block content
	div(class="col-md-12")
		div(class="col-md-10")
			div(class="card")
				div(class="card-block")
					h1(class="card-title") #{title}
					p(class="card-text") #{subcat[0].sub_desc}
			a(class="btn btn-danger pull-left" href='/sub_cat/remove/#{subcat[0].sub_id}') Apagar
			&nbsp; &nbsp;
			a(class="btn btn-primary" href='/sub_cat/cadastro/#{subcat[0].sub_id}') Editar